Repository muhandojeon/Effective-Engineer, pull requests merged in 2025-05, with the labels that each got.

#7 [한상호] 4장, 5장 : 반복 속도에 투자하라 외 1장
  4장/한상호.md
  5장/한상호.md
Labels: 4장, 5장

#14 [전호영] 6장, 7장 : 아이디어는 일찍 그리고 자주 검증하라 외 1장
  6장/전호영.md
  7장/전호영.md
Labels: 6장, 7장

#15 [한상호] 6장, 7장 : 아이디어는 일찍 그리고 자주 검증하라 외 1장
  6장/한상호.md
  7장/한상호.md
Labels: 6장, 7장

#19 [최서희] 6장, 7장 : 아이디어는 일찍 그리고 자주 검증하라 외 1장
  6장/최서희.md
  7장/최서희.md
Labels: 6장, 7장

#20 [공예영] 6장, 7장 : 아이디어는 일찍 그리고 자주 검증하라 외 1장
  6장/공예영.md
  7장/공예영.md
Labels: 6장, 7장

#16 [문희상] 6장, 7장 : 아이디어는 일찍 그리고 자주 검증하라 외 1장
  6장/문희상.md
  7장/문희상.md
Labels: 6장, 7장

#21 [한상호] 8장, 9장, 10장 : 품질과 실용주의 사이에서 균형을 유지하라 외 2장
  10장/한상호.md
  8장/한상호.md
  9장/한상호.md
Labels: 8장, 9장, 10장

#22 [전호영] 8장, 9장, 10장 : 품질과 실용주의 사이에서 균형을 유지하라 외 2장
  10장/전호영.md
  8장/전호영.md
  9장/전호영.md
Labels: 8장, 9장, 10장

#23 [최호] 8장, 9장, 10장 : 품질과 실용주의 사이에서 균형을 유지하라 외 2장
  10장/최호.md
  8장/최호.md
  9장/최호.md
Labels: 8장, 9장, 10장

#24 [문희상] 8장, 9장, 10장 : 품질과 실용주의 사이에서 균형을 유지하라 외 2장
  10장/문희상.md
  8장/문희상.md
  9장/문희상.md
Labels: 8장, 9장, 10장

#25 [최서희] 8장, 9장, 10장 : 품질과 실용주의 사이에서 균형을 유지하라 외 2장
  10장/최서희.md
  8장/최서희.md
  9장/최서희.md
Labels: 8장, 9장, 10장

#26 [공예영] 8장, 9장, 10장 : 품질과 실용주의 사이에서 균형을 유지하라 외 2장
  10장/공예영.md
  8장/공예영.md
  9장/공예영.md
Labels: 8장, 9장, 10장
